:root {
  background-color: white;
}

.main {
}

.content-wrapper {
}

.content {
}

.title {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 125%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-field {
}

.form-label {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

dropdown button, text {
  border: 1px solid #89888d;
  box-shadow: inset 0 0 0 1px #89888d;
  border-radius: 0.25rem;
  line-height: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

dropdown button {
  background-image: none;
}

dropdown button:hover {
  border: 1px solid #626168;
  box-shadow: inset 0 0 0 1px #626168;
}

dropdown:focus-within button, text:focus {
  box-shadow: inset 0 0 0 0.055rem #28272d, 0 0 0 0.16rem #1f75cb, 0 0 0 0.055rem #ffffff;
  outline: none;
}

dropdown arrow {
  -gtk-icon-source: -gtk-icontheme("down-arrow-symbolic");
  -gtk-icon-size: 0.44rem;
  color: #3a383f;
  min-width: 0.44rem;
}

dropdown popover {
  margin: 0;
}

dropdown popover row:hover, text selection {
  background-color: #3584e4;
  color: #ffffff;
}

dropdown popover row image {
  opacity: 0;
}
